* {
  font-family: georgia, serif;
}

body {
  background-color: #000000;
  color: #ffffff;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 20px;
  margin-bottom: 20px;
}

.navbar span {
  padding: 10px;
}

.navbar span:hover {
  background-color: #E39024;
  color: #000000;
}

.navbar a:link, .navbar a:visited, .bloc_experience a {
  color: #E39024;
}

.bloc_download a {
  color: #000000;
}


.titre {
  color: #E39024;
  font-size: 20px;
  text-align: center;
  border-bottom: solid;
  border-color: #E39024;
  border-width: 1px;
}

.profile p {
  text-align: center;
}

.bloc_download {
  text-align: center;
  margin-bottom: 20px;
  margin-left: 100px;
  margin-right: 100px;
  background-color: #E39024;
}

.bloc_formation .diplome {
  text-align: center;
  font-weight: bold;
}

.bloc_formation .ecole, .bloc_formation .date {
  margin-left: 15px;
}

.bloc_formation {
  border: solid;
  margin: 10px;
}

.bloc_experience .entreprise {
  text-align: center;
  font-weight: bold;
}

.bloc_experience .description, .bloc_experience .date {
  margin-left: 15px;
}

.bloc_experience {
  border: solid;
  margin: 10px;
}

.lien_savoir_plus {
  margin-left: 15px;
  margin-bottom: 10px;
}

.container_skills {
  display: flex;
  flex-direction: column;

}

.container_hardskills, .container_softskills {
  display: flex;
  flex-direction: column;
  text-align: center;
  border: solid;
  margin-top: 10px;
  margin-bottom: 10px;
}

progress {
  margin-left: 22px;
  margin-right: 22px;
}

@media screen and (min-width: 470px) {
  .bloc_download span {
    font-size: 18px;
  }

  .bloc_download {
    margin-left: 140px;
    margin-right: 140px;
  }
}

@media screen and (min-width: 610px) {
  .bloc_download span {
    font-size: 20px;
  }

  .bloc_download {
    margin-left: 220px;
    margin-right: 220px;
  }
}

@media screen and (min-width: 700px){
  .navbar, .titre {
    font-size: 20px;
  }
}

@media screen and (min-width: 730px) {
  .profile p {
    font-size: 18px;
  }
}

@media screen and (min-width: 750px) {
  .bloc_download span {
    font-size: 22px;
  }

  .bloc_download {
    margin-left: 260px;
    margin-right: 260px;
  }
}

@media screen and (min-width: 890px) {
  .bloc_download span {
    font-size: 24px;
  }

  .bloc_download {
    margin-left: 300px;
    margin-right: 300px;
  }
}

@media screen and (min-width: 900px) {
  .profile p {
    font-size: 24px;
  }
}

@media screen and (min-width: 990px){
  .navbar, .titre {
    font-size: 25px;
  }
}

@media screen and (min-width: 1030px) {
  .bloc_download span {
    font-size: 26px;
  }

  .bloc_download {
    margin-left: 340px;
    margin-right: 340px;
  }
}

@media screen and (min-width: 1170px) {
  .profile p {
    font-size: 30px;
  }

  .bloc_download span {
    font-size: 28px;
  }

  .bloc_download {
    margin-left: 380px;
    margin-right: 380px;
  }
}

@media screen and (min-width: 1260px) {
  .navbar, .titre {
    font-size: 30px;
  }
}

@media screen and (min-width: 1310px) {
  .bloc_download span {
    font-size: 30px;
  }

  .bloc_download {
    margin-left: 420px;
    margin-right: 420px;
  }
}

@media screen and (min-width: 1550px) {
  .profile p {
    font-size: 32px;
  }
}
