* {
  font-family: georgia, serif;
}

body {
  background-color: #000000;
  color: #ffffff;
}

h1 {
  font-size: 45px;
}

.textes {
  margin-left: 20px;
}

span {
  font-weight: bold;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 20px;
  margin-bottom: 20px;
}

.navbar span {
  padding: 10px;
}

.navbar span:hover {
  background-color: #E39024;
  color: #000000;
}

.navbar a:link, .navbar a:visited {
  color: #E39024;
}

@media screen and (min-width: 700px){
  .navbar, p, span {
    font-size: 20px;
  }
}

@media screen and (min-width: 990px){
  .navbar, p, span {
    font-size: 25px;
  }
}

@media screen and (min-width: 1170px) {
  h1 {
    font-size: 50px;
  }
}

@media screen and (min-width: 1260px){
  .navbar, p, span {
    font-size: 30px;
  }
}

@media screen and (min-width: 1385px) {
  h1 {
    font-size: 55px;
  }
}
