* {
  font-family: georgia, serif;
}

body {
  background-color: #000000;
  color: #ffffff;
}

.titre {
  color: #E39024;
  font-size: 15px;
  text-align: center;
  border-bottom: solid;
  border-color: #E39024;
  border-width: 1px;
  font-weight: bold;
}

.bloc_section {
  margin: 10px;
}
