* {
  font-family: georgia, serif;
}

body {
  background-color: #000000;
  color: #ffffff;
}

h1 {
  font-size: 55px;
}

h2 {
  font-size: 40px;
}

.textes {
  margin-left: 30px;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 20px;
}

.navbar span {
  padding: 10px;
}

.navbar span:hover {
  background-color: #E39024;
  color: #000000;
}

.navbar a:link, .navbar a:visited, .textes a {
  color: #E39024;
}

@media screen and (min-width: 400px) {
  p {
    font-size: 20px;
  }
}

@media screen and (min-width: 570px) {
  p {
    font-size: 25px;
  }
}

@media screen and (min-width: 660px) {
  p {
    font-size: 30px;
  }
}

@media screen and (min-width: 700px){
  .navbar {
    font-size: 20px;
  }
}

@media screen and (min-width: 920px) {
  p {
    font-size: 35px;
  }
}

@media screen and (min-width: 990px){
  .navbar {
    font-size: 25px;
  }
}

@media screen and (min-width: 1170px) {
  h1 {
    font-size: 60px;
  }

  h2 {
    font-size: 45px;
  }

  p {
    font-size: 40px;
  }
}

@media screen and (min-width: 1260px){
  .navbar {
    font-size: 30px;
  }
}

@media screen and (min-width: 1385px) {
  h1 {
    font-size: 65px;
  }

  h2 {
    font-size: 50px;
  }

  p {
    font-size: 45px;
  }
}
