* {
  font-family: georgia, serif;
}

body {
  background-color: #000000;
  color: #ffffff;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 20px;
}

.navbar span {
  padding: 10px;
}

.navbar span:hover {
  background-color: #E39024;
  color: #000000;
}

.navbar a:link, .navbar a:visited {
  color: #E39024;
}
