* {
  margin: 0;
  font-family: georgia, serif;
}

body {
  background-color: #000000;
  color: #ffffff;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 20px;
  margin-bottom: 20px;
}

.navbar span {
  padding: 10px;
}

.navbar span:hover {
  background-color: #E39024;
  color: #000000;
}

.navbar a:link, .navbar a:visited {
  color: #E39024;
}

.works {
  margin-top: 45px;
}

.work_bloc {
  padding-top: 45px;
  padding-bottom: 45px;
  text-align: center;
  background: linear-gradient(to bottom, #464646, #000000);
}

.titre {
  font-weight: bold;
}

img {
  width: 35px;
  height: auto;
  margin-top: 15px;
}

@media screen and (min-width: 700px){
  .navbar, p, span {
    font-size: 20px;
  }

  .work_bloc {
    padding-top: 75px;
    padding-bottom: 75px;
  }

  img {
    width: 45px;
  }
}

@media screen and (min-width: 990px){
  .navbar, p, span {
    font-size: 25px;
  }

  .work_bloc {
    padding-top: 145px;
    padding-bottom: 145px;
  }

  img {
    width: 50px;
  }
}

@media screen and (min-width: 1260px){
  .navbar, p, span {
    font-size: 30px;
  }

  .work_bloc {
    padding-top: 205px;
    padding-bottom: 205px;
  }

  img {
    width: 55px;
  }
}
